.gridContainer {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-column-gap: 12;
  width: calc(100% - 80px);
  height: 100vh;
  margin: 0 auto;
}

.gridContainer figure {
  grid-column: 1 / 6;
}

.gridContainer figure .gradient {
width: 100%;
height: 300px;
background: linear-gradient(to bottom, rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%);
}
